{{!-- Main Header --}}
<div id="header" class="text-center">
    <h1>Eat the Burger!</h1>
    <img class="burger-image" src="assets/img/burger.gif" alt="burger gif">
</div>
<div class="container">
    <div class="row">
        {{!-- Left Side - Uneaten Burgers --}}
        <div class="col-sm-6">
            <h4 class="text-center">Burgers to Eat:</h4>
            {{#each burgers}}
                {{#unless this.devoured}}
                    <form action="/api/update/{{this.id}}?_method=PUT" method="POST">
                        <div class="input-group">
                            <input type="hidden" name="devoured" value="true">
                                <li class="form-control uneaten">{{this.id}}. {{this.burger_name}}</li>
                            <span class="input-group-btn">
                                <button class="btn btn-danger" data-id="{{id}}" data-eat="{{devoured}}"type="submit">Eat The Burger!</button>
                            </span>
                        </div>
                    </form>
                {{/unless}}
            {{/each}}
        </div>
        <div class="col-sm-6">
            <h4 class="text-center">Eaten Burgers:</h4>
            {{#each burgers}}
                {{#if this.devoured}}
                        <div>
                            <li class="form-control devoured">{{this.id}}. {{this.burger_name}}</li>
                        </div>
                    </form>
                {{/if}}
            {{/each}}
        </div>        
    </div>
    <br>
    <div class="col-sm-12 text-center">
        <h4 "text-center">What burger do you want to eat?</h4>
        <form class="button-size" action="/api/burgers" method="POST">
            <input type="text" class="text-center" id="insertBurger" name="burger_name" placeholder="Insert Burger Name Here..."></input>
            <span class="input-group-btn">
                <button type="submit" class="insertBurgerBtn btn btn-success">Create Burger!</button>
            </span>
        </form>
    </div>
</div>

